@font-face {
  font-family: pokeFont;
  src: url("/src/assets/pokemon-font.ttf");
}
.gameover-modal {
  font-family: "pokeFont";
  font-size: 25px;
  --angle: 0deg;
  padding: 20px;
  border: 10px solid;
  border-radius: 10px;
  border-image: conic-gradient(
      from var(--angle),
      red,
      yellow,
      lime,
      aqua,
      blue,
      magenta,
      red
    )
    1;

  animation: 10s rotate linear infinite;
}
@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.game-over-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
button {
  letter-spacing: 1.5px;
}
.score {
  margin-bottom: 20px;
}
.record {
  margin-bottom: 20px;
}
